//
// Typography
// --------------------------------------------------

//
// Body
//
body {
  // font-family: $font-primary;
  // font-size: 14px;
  // color: $brand-grey-light;
}


//
// Headings
//
h1, h2, h3, h4, h5, h6 {
  // font-family: inherit;
  // font-weight: 700;
  // line-height: 1.2;
  // color: $brand-grey-dark;
}
// h1 { font-size: 36px; }
// h2 { font-size: 30px; }
// h3 { font-size: 24px; }
// h4 { font-size: 18px }
// h5 { font-size: 14px; }
// h6 { font-size: 12px; }


//
// Para
//
p {
  // font-size: 16px;
  // line-height: 26px;
}